body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: white;
	margin: 0;
	overflow-x: hidden;
}

.verticalAlign {
	margin-top: auto;
	margin-bottom: auto;
}

h1 {
	font-size: 4em !important;
	font-family: "Montserrat", "Open Sans", Verdana !important;
}

h2, h3, h4, p, ul, a {
	font-family: "Montserrat", "Open Sans", Verdana !important;
}

p {
    color: #676767;
}

footer {
    background-color: white !important;
    box-shadow: 0px -5px 5px #eee;
}

.underline::after, .underline-blue::after {
	border-left: 68px solid white;
	display: block;
	content: "";
	height: 2px;
	margin: 20px 0;
}

.underline-blue::after {
	border-left: 68px solid #2fafff;
}

.navbar-row {
	background-color: white !important;
	z-index: 100;
	position: relative;
}

.navbar-nav {
	font-size: 18px !important;
	color: #676767 !important;
}

.navbar-brand {
	color: #676767 !important;
}

.navbar-nav .nav-link {
	margin-top: auto;
    margin-bottom: auto;
    -webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
	transition: 0.5s;
}

    .navbar-nav .nav-link:hover {
        color: #66c4ff !important;
    }

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #2fafff !important;
}

.card-transparent {
    background-color: transparent !important;
    border: none !important;
}

.section-blue {
	background-color: #2fafff;
}

.section-white {
	background-color: #f7f9fb;
}

.btn-primary {
	background-color: #2fafff !important;
	border-color: #2fafff !important;
}

.button1 {
	background-color: white;
	border: none;
	color: #676767;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
	transition: 0.5s;
	border-radius: 8px;
}

    .button1:hover {
        background-color: #ddd;
        color: #676767;
        cursor: pointer;
    }

.button2 {
	background-color: transparent;
	border: 3px solid #2fafff;
	color: #2fafff;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-duration: 0.5s;
	transition: 0.5s;
	border-radius: 8px;
}

    .button2:hover {
        border-color: #66c4ff;
        color: #66c4ff;
        cursor: pointer;
    }

.button3 {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    transition: 0.5s;
    border-radius: 8px;
}

    .button3:hover {
        border-color: #ddd;
        color: #ddd;
        cursor: pointer;
    }

.bordered-img {
	position: relative;
	box-shadow: 10px 10px 10px #008ee6;
	border-radius: 8px;
	border: 5px solid white;
	z-index: 100;
}

.divider {
    margin: 50px 0px;
}